@font-face {
	font-family: MuseoSans;
	src: url(../fonts/museosans-500.otf);

}
*
{
	font-family: MuseoSans;
	margin: 0;
	padding: 0;
}

.clear {
	clear: both;
}
.container
{
	background-color: #f7f7f7;
	height: auto;

}
.work-area
{
	width: 80%;
	/*border: 1px solid black;*/
	margin-right: auto;
	margin-left: auto;

}

.first-header
{
	width: 100%;
	height: 50px;
	 /*box-shadow:0px 3px 9px #ebebeb;*/
	 font-family: "MuseoSans-500"; 
}
.langs
{
	float: left;
	color: #7d7d7d;
	margin-top: 16px;
	border: none;
	background-color: #f7f7f7;
}
option[value="english"]
{
	border: none;
}
.signing
{
	float: right;
	margin-top: 16px;

}
.sign
{
	text-decoration: none;
	padding: 10px;
	color: #7d7d7d;
}
.header
{
	background-image: url("../images/main-bg1.png");
	background-repeat: no-repeat;
	height: 105px;
	border: 1px solid white;
	box-shadow: 0px 1px 11px #888888;	
}
.logo
{
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	width: 215px;
	height: 50px;
	float: left;
	position: relative;
	top: 28px;
}
.nav select
{
	display: none;
}
ul li.page-link
{
	float: right;
	list-style-type: none;
	padding: 10px;
	margin-top: 35px;
}
li a
{
	text-decoration: none;
	color: #698d01;
}
.navigation
{
	position: relative;
	margin-right: auto;
	margin-left: auto;
	background-image: url("../images/backgroung-slice.png");
	background-repeat: repeat-x;
	height: 477px;


}
.navigation img
{
	position: relative;
	bottom: 74px;
	margin-right: 10%;
	margin-left: 10%;
	height: 444px;
}
.demo-btn
{
	/*opacity: .5;*/
	background-image: url("../images/button.png");
	position: relative;
	bottom: 183px;
    right: 273px;
	width: 260px;
	height: 69px;
	border: none;
	background-color: #a94928;

}
.fa-angle-double-left{
	font-size: 100px;
	position: relative;
	top: 167px;
	left: 150px;
	color: white;
}
.fa-angle-double-right
{
	font-size: 100px;
	position: relative;
	bottom: 364px;
	right: 68px;
	float: right;
	color: white;
	font-weight: lighter;
}
.about-sales
{
	margin-top: 30px;
}
.title
{
	text-align: center;
	color: #d27657;
	font-size: 24px;
	margin-top: 20px;
}
.text
{
	margin-top: 15px;
	text-align: center;
	margin-bottom: 20px;
	color: #888888;
}
.company-offers
{
	margin-top: 30px;
	background-image: url("../images/main-bg1.png");
	background-repeat: repeat;
	height: 800px;
}
.about-offers
{
	height: 250px;
	width: 60%;
	float: left;

}
.about-offres3{
	display: none;
}
.about-offres3{
	display: none;
}
.image
{
	position: relative;
	width: 28%;
	height: 100%;
	float: right;
	display: inline-block;
}
.image2
{
	position: relative;
	width: 28%;
	height: 100%;
	float: left;
	display: inline-block;
}
.offers-title
{
	position: relative;
	top: 120px;
	color: #88a919;
	/*float: left;*/
}
.klam
{
	/*float: left;*/
	color: #888888;
	/*width: 50%;*/
	height: 31%;
	line-height: 18px;
	position: relative;
	margin-top: 130px;

}
img[src="icon2.png"]
{
	position: relative;
	width: 28%;
	height: 100%;
	float: left;
	display: inline-block;
}
.second-text
{
	width: 65%;
	float: left;
	
}
.clients
{
	margin-top: 20px;
}
.clients-title
{
	text-align: center;
	color: #d27657;
	line-height: 50px;
}
.client-text
{
	text-align: center;
	color: #888888;
}
img[src="images/logoes1.png"]
{
	position: relative;
	margin-left: 13px;
	margin-top: 20px; 
}
img[src="images/main2.png"]
{
	display: none;
}
.dots-line
{
	border-bottom: 2px dotted #ccc;
	padding: 20px 20px;
}
.footer
{
	background-image: url("../images/main3.png");
	background-repeat: repeat-x;
	height: 300px;
	margin-top: 30px;
}
.in-footer
{
	width: 225px;
	height: 297px;
	/*border: 1px solid yellow;*/
	float: left;
	margin-right: 20px;
}
.page-links
{
	color: #d27657;
	padding-top: 20px;
	margin-bottom: 23px; 
}
.list-links
{
	list-style-type: none;
	display: inline-block;
	width: 75%;
}
.list-links a
{
	line-height: 32px;
	color: #97a188;
	font-size: 12px;
}
.Social
{
	padding: 5px;
	max-width: 20%;
	display: inline;
	border: 3px solid #363b24;
	border-radius: 50%;
	color: #d27657;
}
.fa-google-plus
{
	font-size: 12px;
}
.fa-facebook
{
	font-size: 19px;
}
.tweet
{
	font-size: 12px;
	color: #97a188;
	padding-bottom: 20px;
}
.tweet a
{
	color: #d27657;
	text-decoration: none;
}
.date
{
	color: #5a6050;
}
.footer-btn
{
	/*opacity: .5;*/
	background-image: url("../images/button.png");
	position: relative;
	/*bottom: 183px;
    right: 273px;*/
	width: 200px;
	height: 69px;
	border: none;
	background-color: #32381f;

}
.email
{
  
	background-color: #3b3e33;
	border: none;
	height: 20px;
	color: #676f4a;
	padding: 4px;
}
.fa-envelope
{
	background-color: #676f4a;
	width: 17px;
	padding: 4px;
	position: relative;
	position: relative;
    right: 4px;
    height: 20px;
    top: -2px;
}