@media (max-width: 500px) {
    .langs{
    	display: none;
    }
    .header
    {
    	height: 130px;
    	width: 100%;
    }
    .logo
    {
    	display: inline-block;
    	width: 100%;
    	margin-left: 45px;
    }
    .nav ul
	{
		display: none;
	}
	.nav select
	{
	display: block;
	width: 300px;
	position: relative;
	top: 40px;
	border-radius: 5px;
	padding: 5px;
	background-color: #ccc;
	margin-left: 48px;
	}
	.fa-angle-double-left
	{
		display: none;
	}
	.fa-angle-double-right
	{
		display: none;
	}
	.navigation
	{
		width: 100%;
		height: 250px;
	}
	.navigation img
	{
		height: 350px;
		position: relative;
		bottom: 0px;
		height: 250px;
	}
	.about-offers
	{
		display: block;
		width: 100%;
		margin-left: 0px;
	}
	.image
	{
		display: block;
		width: 100%;
	}
	.company-offers
	{
		height: 1574px;
	}
	img[src="images/logoes1.png"]
	{
		display: none;
	}
	img[src="images/main2.png"]
	{
		display: block;
		width: 100%;
	}
	.dots-line
	{
		width: 100%;
	}
	.footer
	{
	background-image: url("../images/main3.png");
	background-repeat: repeat;	
	/*background-repeat: repeat-y;*/
	height: 1212px;
	}
}